<% var meta = {
    pageTitle:'△',
    description:'foo',
    keywords:'foo',
    url:'foo',
};
%>
<% include common/_header %>

<h1>hello, world.</h1>
<img src="/assets/img/about_01.png" alt="">

<% include common/_footer %>
