@charset "utf-8";
nav {
  border-bottom: 1px solid #c1c1c1;
  .logo {
    width: 100px;
  }
  background: #26499d;
  ul {
    li.nav-item {
      display: inline-block;
      a:link, a:visited {
        color: #fff;
      }
  // @include media-breakpoint-up(sm) {}
    }
  }
  .dropdown{
    .dropdown-menu{
      a:link, a:visited{
        color: #000;
      }
      a:hover, a:active{
        color: #fff;
        background: #26499d;
      }
    }
  }
}



// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
