@charset "utf-8";
.sidebar{
  .sns{
    a{
      img.sns_icon{
        width: 40px;
      }
    }
  }

  .tw_area{
    .tw_moment{
      font-size: 13px;
      line-height: 22px;
    }
    .thumbnail-trimer {
        float:left;
        margin-right: 15px;
        position: relative;
        width: 60px;
        height: 60px;
        overflow: hidden;
        display: inline-block;
        border: 1px solid #888;
        margin-right: 5px;
        margin-bottom: 5px;
        // float: left;
        .thumbnail-img {
          position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 60px;
            height: 60px;
        }
    }
  }

  // background: #0ff;
  .widget{
    margin-bottom: 10px;
    .widgettitle{
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: normal;
      border-bottom: 1px dotted #c1c1c1;
      padding-bottom: 2px;
    }
    ul{
      li {
        // margin-left: 10px;
        line-height: 23px;
        list-style-position: outside;
        .post-date {
          font-size: 11px;
          color: #c1c1c1;
        }
      }
      li:before {
        font-family: FontAwesome;
        content: '\f105'; /* アイコンのunicode */
        margin-right:5px;
      }
    }
  }
}
